//config
ul.fields_config li {
   cursor:pointer;
   float:left;
   width:20%;
   -moz-border-radius: 5px;
   -webkit-border-radius:5px;
   border-radius: 5px;
   margin:0 1% 10px 1%;
   padding:5px 1px;
}
ul.fields_config li:hover {
   background-color:#E8E8E8;
}
ul.fields_config li p {
   padding-top: 8px;
}
ul.fields_config li img {
   float: left;
   margin-right: 2px;
}
div.fields_clear {
   clear: both;
   width:100%;
}
.drag {
   background: none !important;
}