parameters:
    parallel:
        maximumNumberOfProcesses: 2
    level: 1
    bootstrapFiles:
        - ../../inc/based_config.php
        - setup.php
    paths:
        - inc
    scanDirectories:
        - ../../inc
        - ../../src
    stubFiles:
        - ../../stubs/glpi_constants.php
