<root>
   <name>Fields</name>
   <key>field</key>
   <state>stable</state>
   <logo>https://raw.githubusercontent.com/pluginsGLPI/fields/master/plugin.png</logo>
   <description>
      <short>
         <en>This plugin is a replacement for customfields</en>
         <fr>Ce plugin est un remplacement pour customfields.</fr>
      </short>
      <long>
         <en>This plugin is a replacement for customfields</en>
         <fr>Ce plugin est un remplacement pour customfields</fr>
      </long>
   </description>
   <homepage>https://github.com/pluginsGLPI/fields</homepage>
   <download>https://github.com/pluginsGLPI/fields/releases</download>
   <issues>https://github.com/pluginsGLPI/fields/issues</issues>
   <readme>https://github.com/pluginsGLPI/fields/blob/master/README.md</readme>
   <authors>
      <author>Alexandre Delaunay</author>
      <author>Jérémy Moreau</author>
      <author>François Legastelois</author>
      <author>Walid Nouh</author>
   </authors>
   <versions>
      <version>
         <num>0.90</num>
         <compatibility>0.85</compatibility>
      </version>
   </versions>
   <langs>
      <lang>en_GB</lang>
      <lang>fr_FR</lang>
   </langs>
   <license>GPL v2+</license>
   <tags>
      <en>
         <tag>custom fields</tag>
      </en>
      <lang>
         <tag>champs personnalisés</tag>
      </lang>
   </tags>
   <screenshots>
      <screenshot>https://github.com/pluginsGLPI/fields/raw/0.84/bugfixes/documentation/pics/fields_bloc.png</screenshot>
      <screenshot>https://github.com/pluginsGLPI/fields/raw/0.84/bugfixes/documentation/pics/fields_champ.png</screenshot>
   </screenshots>
</root>
