<root>
   <name>Fields</name>
   <key>fields</key>
   <state>stable</state>
   <logo>https://raw.githubusercontent.com/pluginsGLPI/fields/master/plugin.png</logo>
   <description>
      <short>
         <cs>Zásuvný modul kolonky umožňuje přidávat vlastní kolonky do glpi typů: požadavky, počítače, uživatelé…</cs>
         <en>The fields plugin allows you to add custom fields on glpi types : tickets, computers, users…</en>
         <fr>Le plugin 'Champs supplémentaires' (Fields) permet d’ajouter des champs personnalisés sur les différents objets gérés par GLPI : tickets, ordinateurs, utilisateurs…</fr>
      </short>
      <long>
         <cs>
Zásuvný modul kolonky umožňuje přidávat vlastní kolonky do glpi typů: požadavky, počítače, uživatelé…  

Je možné přidat další údaje do: 

* Karty objektu
* Hlavního formuláře objektu (nad tlačítko uložit)
* Formuláře karty (varování – tato funkce je experimentální)

MOžné typy kolonek jsou: 

* Hlavička (blok titulku)
* Text (jeden řádek)
* Text (více řádek)
* Číslo
* Rozbalovací nabídka (vždy stromová rozbalovací nabídka)
* Ano/Ne
* Datum
* Datum/hodina
* Seznam Glpi uživatelů

Je k dispozici [skript pro migraci](https://github.com/pluginsGLPI/customfields/blob/master/scripts/migrate-to-fields.php) z modulu „customfields“.  
**VAROVÁNÍ: tento skript je experimentální a potřebuje být ještě více otestován. Vřele doporučujeme před jeho použitím zálohvat data**
         </cs>
         <en>
The fields plugin allows you to add custom fields on glpi types : tickets, computers, users…  

Addionnal data can be added : 

* In object tab
* In main form of object (above save button)
* In form of a tab (Warning, this feature is experimental)

Possible fields type are : 

* Header (title bloc)
* Text (single line)
* Text (multiple lines)
* Number
* Dropdown (always a tree dropdown)
* Yes / No
* Date
* Date / Hour
* Glpi User list

There is a [migration script](https://github.com/pluginsGLPI/customfields/blob/master/scripts/migrate-to-fields.php) from "customfields" plugin.  
**WARNING : this one is experimental and deserved to be more tested. We strongly advise you to backup your data before using it**
         </en>
         <fr>
Le plugin 'Champs supplémentaires' (Fields) permet d’ajouter des champs personnalisés sur les différents objets gérés par GLPI : tickets, ordinateurs, utilisateurs...  

Les données supplémentaires peuvent être ajoutées : 

* Dans un onglet de l'objet
* Dans le formulaire principal de l'objet (au dessus du bouton sauvegarder)
* Dans le formulaire d'un onglet existant (attention, cette fonctionnalité est expérimental)

Les types de champs possibles sont : 

* Entête (bloc de titre)
* Texte (ligne simple)
* Texte (ligne multiples)
* Nombre
* Liste déroulante (intitulés, forcement un arbre)
* Oui / Non
* Date
* Date / Heure
* liste d'utilisateurs de glpi

Il existe un [script de migration](https://github.com/pluginsGLPI/customfields/blob/master/scripts/migrate-to-fields.php) depuis le plugin "customfields".  
**Attention : celui ci est expérimental et mérité d'être testé plus fortement. Nous vous conseillons fortement de sauvegarder vos données avant de l'utiliser**
         </fr>
      </long>
   </description>
   <homepage>https://github.com/pluginsGLPI/fields</homepage>
   <download>https://github.com/pluginsGLPI/fields/releases</download>
   <issues>https://github.com/pluginsGLPI/fields/issues</issues>
   <readme>https://glpi-plugins.readthedocs.io/en/latest/fields/index.html</readme>
   <authors>
      <author>Teclib'</author>
      <author>Alexandre Delaunay</author>
      <author>Jérémy Moreau</author>
      <author>François Legastelois</author>
      <author>Walid Nouh</author>
      <author>Johan Cwiklinski</author>
   </authors>
   <versions>
      <version>
         <num>1.12.8</num>
         <compatibility>~9.5.0</compatibility>
         <download_url>https://github.com/pluginsGLPI/fields/releases/download/1.12.8/glpi-fields-1.12.8.tar.bz2</download_url>
      </version>
      <version>
         <num>1.12.7</num>
         <compatibility>~9.5.0</compatibility>
         <download_url>https://github.com/pluginsGLPI/fields/releases/download/1.12.7/glpi-fields-1.12.7.tar.bz2</download_url>
      </version>
      <version>
         <num>1.12.6</num>
         <compatibility>~9.5.0</compatibility>
         <download_url>https://github.com/pluginsGLPI/fields/releases/download/1.12.6/glpi-fields-1.12.6.tar.bz2</download_url>
      </version>
      <version>
         <num>1.12.5</num>
         <compatibility>~9.5.0</compatibility>
         <download_url>https://github.com/pluginsGLPI/fields/releases/download/1.12.5/glpi-fields-1.12.5.tar.bz2</download_url>
      </version>
      <version>
         <num>1.12.4</num>
         <compatibility>~9.5.0</compatibility>
         <download_url>https://github.com/pluginsGLPI/fields/releases/download/1.12.4/glpi-fields-1.12.4.tar.bz2</download_url>
      </version>
      <version>
         <num>1.12.3</num>
         <compatibility>~9.5.0</compatibility>
         <download_url>https://github.com/pluginsGLPI/fields/releases/download/1.12.3/glpi-fields-1.12.3.tar.bz2</download_url>
      </version>
      <version>
         <num>1.12.2</num>
         <compatibility>~9.5.0</compatibility>
         <download_url>https://github.com/pluginsGLPI/fields/releases/download/1.12.2/glpi-fields-1.12.2.tar.bz2</download_url>
      </version>
      <version>
         <num>1.12.1</num>
         <compatibility>~9.5.0</compatibility>
         <download_url>https://github.com/pluginsGLPI/fields/releases/download/1.12.1/glpi-fields-1.12.1.tar.bz2</download_url>
      </version>
      <version>
         <num>1.12.0</num>
         <compatibility>~9.5.0</compatibility>
         <download_url>https://github.com/pluginsGLPI/fields/releases/download/1.12.0/glpi-fields-1.12.0.tar.bz2</download_url>
      </version>
      <version>
         <num>1.11.0</num>
         <compatibility>~9.5.0</compatibility>
         <download_url>https://github.com/pluginsGLPI/fields/releases/download/1.11.0/glpi-fields-1.11.0.tar.bz2</download_url>
      </version>
      <version>
         <num>1.10.3</num>
         <compatibility>~9.4.0</compatibility>
         <download_url>https://github.com/pluginsGLPI/fields/releases/download/1.10.3/glpi-fields-1.10.3.tar.bz2</download_url>
      </version>
      <version>
         <num>1.10.2</num>
         <compatibility>~9.4.0</compatibility>
         <download_url>https://github.com/pluginsGLPI/fields/releases/download/1.10.2/glpi-fields-1.10.2.tar.bz2</download_url>
      </version>
      <version>
         <num>1.10.1</num>
         <compatibility>9.4</compatibility>
      </version>
      <version>
         <num>1.10.0</num>
         <compatibility>9.4</compatibility>
      </version>
      <version>
         <num>1.9.2</num>
         <compatibility>9.4</compatibility>
      </version>
      <version>
         <num>1.9.1</num>
         <compatibility>9.4</compatibility>
      </version>
      <version>
         <num>1.9.0</num>
         <compatibility>9.4</compatibility>
      </version>
      <version>
         <num>1.8.2</num>
         <compatibility>9.3</compatibility>
      </version>
      <version>
         <num>1.8.1</num>
         <compatibility>9.3</compatibility>
      </version>
      <version>
         <num>1.8.0</num>
         <compatibility>9.3</compatibility>
      </version>
      <version>
         <num>1.7.3</num>
         <compatibility>9.2</compatibility>
      </version>
      <version>
         <num>1.7.2</num>
         <compatibility>9.2</compatibility>
      </version>
      <version>
         <num>1.7.1</num>
         <compatibility>9.2</compatibility>
      </version>
      <version>
         <num>1.7.0</num>
         <compatibility>9.2</compatibility>
      </version>
      <version>
         <num>1.6.2</num>
         <compatibility>9.1.2</compatibility>
      </version>
      <version>
         <num>1.6.1</num>
         <compatibility>9.1.2</compatibility>
      </version>
      <version>
         <num>1.6.0</num>
         <compatibility>9.1.2</compatibility>
      </version>
      <version>
         <num>1.5.0</num>
         <compatibility>9.1.2</compatibility>
      </version>
      <version>
         <num>1.4.5</num>
         <compatibility>9.1</compatibility>
         <compatibility>0.90</compatibility>
         <compatibility>0.85</compatibility>
      </version>
      <version>
         <num>1.4.4</num>
         <compatibility>9.1</compatibility>
         <compatibility>0.90</compatibility>
         <compatibility>0.85</compatibility>
      </version>
      <version>
         <num>1.4.3</num>
         <compatibility>9.1</compatibility>
         <compatibility>0.90</compatibility>
         <compatibility>0.85</compatibility>
      </version>
      <version>
         <num>1.4.2</num>
         <compatibility>9.1</compatibility>
         <compatibility>0.90</compatibility>
         <compatibility>0.85</compatibility>
      </version>
      <version>
         <num>1.4.1</num>
         <compatibility>9.1</compatibility>
         <compatibility>0.90</compatibility>
         <compatibility>0.85</compatibility>
      </version>
      <version>
         <num>1.4.0</num>
         <compatibility>9.1</compatibility>
         <compatibility>0.90</compatibility>
         <compatibility>0.85</compatibility>
      </version>
      <version>
         <num>1.3.2</num>
         <compatibility>9.1</compatibility>
         <compatibility>0.90</compatibility>
         <compatibility>0.85</compatibility>
      </version>
      <version>
         <num>1.3.1</num>
         <compatibility>9.1</compatibility>
         <compatibility>0.90</compatibility>
         <compatibility>0.85</compatibility>
      </version>
      <version>
         <num>0.90-1.3</num>
         <compatibility>9.1</compatibility>
         <compatibility>0.90</compatibility>
         <compatibility>0.85</compatibility>
      </version>
      <version>
         <num>0.90-1.2</num>
         <compatibility>0.90</compatibility>
         <compatibility>0.85</compatibility>
      </version>
      <version>
         <num>0.90-1.1</num>
         <compatibility>0.90</compatibility>
         <compatibility>0.85</compatibility>
      </version>
      <version>
         <num>0.90-1.0</num>
         <compatibility>0.90</compatibility>
         <compatibility>0.85</compatibility>
      </version>
   </versions>
   <langs>
      <lang>cs_CZ</lang>
      <lang>en_GB</lang>
      <lang>fr_FR</lang>
   </langs>
   <license>GPL v2+</license>
   <tags>
      <cs>
         <tag>vlastní kolonky</tag>
      </cs>
      <en>
         <tag>custom fields</tag>
      </en>
      <fr>
         <tag>champs personnalisés</tag>
      </fr>
   </tags>
   <screenshots>
      <screenshot>https://raw.githubusercontent.com/pluginsGLPI/fields/master/fields.gif</screenshot>
   </screenshots>
</root>
